<div class="form-group">
  <label class="sr-only" for="checkin-datepicker">From</label>
  <input type="text" class="form-control" id="checkin-datepicker" placeholder="From"/>
</div>
<div class="form-group">
  <label class="sr-only" for="checkout-datepicker">To</label>
  <input type="text" class="form-control" id="checkout-datepicker" placeholder="To"/>
</div>
