<div class="row">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li" href=false}}
          <a href="#">Home</a>
        {{/link-to}}
        {{#link-to 'suites' tagName="li" href=false}}
          <a href="#">Our Suites</a>
        {{/link-to}}
        {{#link-to 'specials' tagName="li" href=false}}
          <a href="#">Specials</a>
        {{/link-to}}

      </ul>
    </div>
  </nav>
</div>
