<div class="background">

  <div class="container">
    <div class="row logo">
      <div class="span4"></div>
      <div class="span4"><img class="center-block img-responsive" src="assets/images/gg-logo.png" /></div>
      <div class="span4"></div>
    </div>

    {{gg-navbar}}

    {{outlet}}

    <div class="row footer">
      <div class="col-md-3 text-center">
        Contact Us
      </div>
      <div class="col-md-3 text-center">
        Book a Reservation
      </div>
      <div class="col-md-3 text-center">
        © Copyright 2016 Green Gables Inn
      </div>
      <div class="col-md-3 text-center">
        {{#link-to 'admin.login'}}
          Admin
        {{/link-to}}
      </div>
    </div>
  </div>

</div>
