<div class="row slideshow">
  {{gg-slideshow slides=model}}
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Welcome to the Green Gables Inn</h3>
    <div>
    	<p>Built by local craftsmen in 1905, Green Gables is now a completely refurbished and classically appointed four suite Inn. The Inn is nestled three blocks from downtown Camden and one of Maine's most beautiful and protected harbors with unspoiled surroundings.</p>
    	<p>Midcoast Maine, one of the premier Maine vacation spots, offers endless opportunities for exciting day trips and activities. Whether you're looking for a restful, relaxing day shopping, a lazy day of reading a great Maine book by a local author, or visiting our area's award-winning restaurants, or even planning an adventure hiking or daysailing on a schooner out of Camden Harbor, Green Gables Inn is the perfect all-suite, pet-friendly "home base" for any adventures you have planned.</p>
    	<p>The Green Gables Inn reflects much of what we love about the Maine seacoast, character, calm, charm, courtesy, and incredible local cuisine. Anticipating your needs, exceeding expectations, and crafting an experience that will delight you is our goal. Every facet of your stay with us has been refined to maximize the quality of your experience, from a weekend to "decompress" to us hosting one of your exceptional romantic getaways in Maine, Green Gables is your vacation solution.</p>
    	<p>You will feel at home with our luxurious linens and plush terry towels. Plan a picnic by the harbor (or on our front porch or in our backyard) and utilize convenient glasses, cutlery, and plate ware. While a guest at Green Gables Inn, you will also have use of complimentary wireless Internet access and off street parking.</p>
    </div>
  </div>
</div>
