<div class="row">
  <div class="col-md-12">
    <h2>Specials</h2>
    <hr/>
    <div>
    <p>
    If you rent the whole house, we applaud your wise choice to take the time to vacation with family or friends, and offer a 10% discount on reservations for the whole house.
    </p>
    <p>
    We also offer a 10% discount on single-room bookings for the following special events:
    </p>
    </div>
  </div>
</div>
